@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            padding: 100px 0;
        }

        h1 {
            font-size: 36px;
            color: #333;
        }

        p {
            font-size: 18px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <i class="fa-solid fa-shop fa-bounce fa-2xl mb-3 " style="color: #183153; font-size:200px;"></i>
        <h1>Welcome To Shopfy Pro Dashboard</h1>
        <p>Your one-stop destination for managing your Shopfy Pro </p>
    </div>
</body>
</html>